<ion-header>
  <ion-toolbar style="color:white">
      <ion-title *ngIf="listName">
          List {{listName}}
      </ion-title>
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
          <ion-button style="color:white" (click)="createItem()" *ngIf="!userId">
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="todoItems.length === 0; else availableTodos"
         style="font-style:italic; color:gray; text-align: center; padding-top:10%">
         Empty list.
    </div>
    <ng-template #availableTodos>
        <ion-card *ngFor="let item of todoItems">
            <ion-card-content>
                <ion-grid class="background">
                    <ion-row>
                        <ion-col>
                            <p style="font-weight: bold; text-decoration: underline;">Task: </p><p>{{item.name}}</p>
                            <p style="font-weight: bold; text-decoration: underline;">State: </p><p>{{getState(item)}}</p>
                            <p style="font-weight: bold; text-decoration: underline;">Description: </p><p>{{item.desc}}</p>
                        </ion-col>
                        <ion-col>
                            <ion-avatar class="imageuploadFrame">
                                <img class="uploadImage" src="{{item.image}}"><img>
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="centerelements">
                    <ion-button *ngIf="!userId" color="warning" slot="end" (click)="modifyItem(item)">
                        <ion-icon name="create"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="!userId" color="danger" slot="end" (click)="removeItem(item)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </ng-template>
</ion-content>
