<ion-header>
  <ion-toolbar style="color:white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create your account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #createForm="ngForm" (ngSubmit)="createAccount()" autocomplete="off">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input name="name" id="nameField"
                 type="text" required [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" id="loginField"
                 type="text" required [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" id="passwordField"
                 type="password" required [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input name="cpassword" id="confirmPasswordField"
                 type="password" required [(ngModel)]="cpassword"></ion-input>
    </ion-item>
    <ion-label *ngIf="(cpassword !== user.password) && (cpassword !== '' && user.password !== '')" style="color: red; font-weight: bold" text-center>
      Password and confirmation password do not match.
    </ion-label>
    <ion-item>
      <ion-button color="warning" (click)="choose()">Upload<ion-icon name="images"></ion-icon></ion-button>
      <ion-avatar class="imageuploadFrame" [hidden]="!user.imageUrl">
        <ion-img  class="uploadImage" src="{{user.imageUrl}}" [hidden]="!user.imageUrl"> </ion-img>
      </ion-avatar>
    </ion-item>
    <ion-row>
      <ion-col>
        <div *ngIf="error" style="color: red; font-weight: bold" text-center>{{error}}</div>
        <ion-button class="submit-btn" color="success" expand="block" type="submit"
                    [disabled]="!createForm.form.valid">Sign up
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
