<ion-header>
  <ion-toolbar *ngIf='userReady'>
<!--     <ion-title>{{user.name}}'s Profile</ion-title>
 -->    
    <ion-buttons slot="end">
      <ion-button style="color:white" (click)="doLogout()">Logout
        <ion-icon name="log-out" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='userReady'>
  <ion-card>
    <ion-avatar class='profileImageFrame'>
      <ion-img *ngIf="user.picture" [src]="user.picture" class="profileImage" ></ion-img>
    </ion-avatar>
    <ion-card-header>
      <ion-card-title class='centerItem'>{{user.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class='centerItem'>{{user.email}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content style="padding: 1px 1px;">
      <agm-map [latitude]="45.191621" [longitude]="5.767414" [zoom]="10">
        <div *ngFor="let list of todoLists">
          <div *ngFor="let todo of list.items">
            <agm-marker *ngIf="todo.latitude && todo.longitude" [latitude]="todo.latitude" [longitude]="todo.longitude"
                        [title]="todo.name" [markerClickable]="true">
              <agm-info-window [disableAutoPan]="true" [latitude]="todo.latitude" [longitude]="todo.longitude">
                - List: <strong>{{list.name}}</strong> <br>
                - To-do: <strong>{{todo.name}}</strong> <br>
                - Latitude: {{todo.latitude}} <br>
                - Longitude: {{todo.longitude}}
              </agm-info-window>
            </agm-marker>
          </div>
        </div>
      </agm-map>
    </ion-card-content>
  </ion-card>
</ion-content>
