<ion-header>
  <ion-toolbar *ngIf='userReady'>
<!--     <ion-title>{{user.name}}'s Profile</ion-title>
 -->    
    <ion-buttons slot="end">
      <ion-button style="color:white" (click)="doLogout()">Logout
        <ion-icon name="log-out" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='userReady'>
  <ion-card>
    <ion-avatar class='profileImageFrame'>
      <ion-img *ngIf="user.picture" [src]="user.picture" class="profileImage" ></ion-img>
    </ion-avatar>
    <ion-card-header>
      <ion-card-title class='centerItem'>{{user.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class='centerItem'>{{user.email}}</p>
    </ion-card-content>
    <!-- <ion-button expand="block" color="warning" (click)="viewTodos()">
      <ion-icon name="create" style="margin-right:20px;"></ion-icon> Check to-dos
    </ion-button> -->
  </ion-card>
</ion-content>
