<ion-header>
  <ion-item-divider>
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button style="color:white" (click)="createGroup()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-item-divider>
  <ion-item style="color:white">
    <ion-label>Filter</ion-label>
    <ion-select (ionChange)="onSelectFilter($event)" okText="Apply" cancelText="Cancel" #filter>
      <ion-select-option value="joined">Joined</ion-select-option>
      <ion-select-option selected="true" value="owned">Created</ion-select-option>
      <ion-select-option value="pending">Pending</ion-select-option>
      <ion-select-option value="others">Other groups</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content *ngIf="groupsAreReady()">
  <div *ngIf="groupsToDisplay; else undefinedGroups">
    <div *ngIf="groupsToDisplay.length === 0; else availableGroups"
         style="font-style:italic; color:gray; text-align: center; padding-top:10%">
      There are no groups... try another filter.
    </div>
    <ng-template #availableGroups>
      <ion-list #slidingList>
        <ion-item-sliding *ngFor="let group of groupsToDisplay" style="margin-top: 3px;">
          <ion-item (click)="viewGroup(group)" class="divgroup">
            <ion-label>
              <ion-row>
                  <ion-col><p>Group name: <span class="spantyle">{{group.name}}</span></p></ion-col>
                </ion-row>
              <ion-row>
                <ion-col>
                  <p>Number of users: <span class="spantyle">{{numberOfUsers[group.uuid]}}</span></p>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-item-options side="end" class="btnslide">
            <ion-item-option *ngIf="fullControl" color="warning" (click)="modifyGroup(group)">
              <ion-icon name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="fullControl" color="danger" (click)="removeGroup(group)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="smallControl" color="success" (click)="joinGroup(group)">
              <ion-icon name="people"></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="someControl" color="danger" (click)="quitGroup(group)">
              <ion-icon name="exit"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>
  </div>
  <ng-template #undefinedGroups>
    <div *ngIf="groupsToDisplay.length === 0; else undefinedGroups"
         style="font-style:italic; color:gray; text-align: center; padding-top:10%">
        There are no groups... try another filter.
    </div>
  </ng-template>
</ion-content>
