<ion-header>
  <ion-toolbar>
    <ion-title>
      To do
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="createList()" color="primary">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #slidingList>
    <ion-item-sliding *ngFor="let list of todoLists">
      <ion-item (click)="viewItems(list)">
        <ion-label>
          <h2>{{list.name}}</h2>
          <p>Unfinished tasks: {{completedItemsSize(list)}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="modifyList(list)"><ion-icon name="create"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="removeList(list)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
