<ion-header>
  <ion-toolbar style="color:white">
    <ion-title>{{title}}</ion-title>
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="background">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input required type="text" name="name" [(ngModel)]="todoItem.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description" [(ngModel)]="todoItem.desc"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Completed</ion-label>
      <ion-checkbox name="completed" [(ngModel)]="todoItem.complete"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-button color="warning" (click)="choose()">Upload<ion-icon name="images"></ion-icon></ion-button>
      <ion-avatar class="imageuploadFrame" [hidden]="!imgsource">
        <ion-img  class="uploadImage" src="{{imgsource}}" [hidden]="!imgsource"> </ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row class="centerelements">
      <ion-col>
        <div *ngIf="!data">
          <ion-button color="primary" (click)="sendItemData()">Create</ion-button>
        </div>
        <div *ngIf="data">
          <ion-button color="primary" (click)="sendItemData()">Modify</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="danger"  (click)="cancelCreation()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
