<ion-content>

  <ion-row class="flourish">
      <ion-avatar class='profileImageFrame'>
          <ion-img src="../assets/login.png" class="profileImage" ></ion-img>
      </ion-avatar>
  </ion-row>
  <form #loginForm="ngForm" (ngSubmit)="doNormalLogin()" autocomplete="off">
    <div class="container">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" id="loginField"
                  type="text" required [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" id="passwordField"
                  type="password" required [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>
    <ion-row>
      <ion-col>
        <div *ngIf="error" style="color: red; font-weight: bold" text-center>{{error}}</div>
        <ion-button class="submit-btn login_btn" color="success" expand="block" type="submit"
                [disabled]="!loginForm.form.valid">Login
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <h1>
    <span>Or</span>
  </h1>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doGoogleLogin()">
        <ion-icon style="margin-right:20px;" name="logo-googleplus"></ion-icon> Sign in with Google+
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="newhere">
      <a class="newhere" routerLink="/signup" text-center>New here? Sign up</a>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="activateSpeech()">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
